.form-input {
    width: 70%;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.3em;
    margin: 0.5em;
  }

  ul {
      list-style-type: none;
  }

  div {
    overflow-x: hidden;
  }